<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300&display=swap" rel="stylesheet">
</head>

<body>
<div id="app">
  <div class="user-input">
    <!-- <div class="holder headline">MY WEATHER JOURNAL</div> -->
    <div class="holder place">
      <label for="place">enter destination here</label>
      <input type="text" id="place" placeholder="enter destination here">
    </div>
    <div class="holder date">
      <label for="date">enter departure date here</label>
      <input type="date" id="date" value="2017-06-01" rows="10">
    </div>
  <button id="generate" type="submit">Submit</button>
  <div id="contain-entries"></div>
      </div>
    </div>
  </div>
</div>
</body>
</html>