$primary-font: 'Pacifico', cursive;
$alt-font: 'Love Ya Like A Sister', cursive;
$secondary-font: 'Montserrat', sans-serif;
$alt-secondary-font: 'Bubbler One', sans-serif;
$third-primary-font: 'Major Mono Display', monospace;
$third-secondary-font: 'Darker Grotesque', sans-serif;

// section {
//     max-width: 800px;
//     min-width: 100vw;
//     margin: 50px auto;
// }