$primary-font: 'Pacifico', cursive;
$alt-font: 'Love Ya Like A Sister', cursive;
$secondary-font: 'Montserrat', sans-serif;
// $alt-secondary-font: 'Bubbler One', sans-serif;
$third-primary-font: 'Major Mono Display', monospace;
$third-secondary-font: 'Darker Grotesque', sans-serif;


#contain-entries {
    max-width: 80%;
    margin: 1em auto;
}
// make this responsive and make the text hidden until hovered over and then color that text the same blue as the button
.warning-icon {
    height: 20px;
    height: 20px;
    // width: auto;
    // display: inline-block;
}

.warning {
    font-size: .6em;
}

.response {
    padding: .2em;
    font-size: 1.3em;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    // width: 60%;
    border: 1px solid gray;
    padding: .5em;
    border-radius: 3em;
    max-height: auto;
    max-width: 80%;
    margin: 1%;
}

.destination-container {
    // max-width: 80%;
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
    // align-content: center;
    // margin: 2em auto;
}

// .sub-container {
//     // text-align: center;
//     // margin-left: 3em;
// }
.travel-icon, .side-icon {
    height: 3em;
    width: auto;
    align-self: center;
    padding: 0em 1em;
}

.destination-header, .results-header {
    font-family: $third-primary-font;
    font-size: 2em;
    align-self: center;
    // color: #0D47A1;
}

.results-header {
    color: #0D47A1;
}

// .warning-icon {
//     width: 1em;
//     height: 1em;
// }

// .low-temp {
//     // border-bottom: 1px solid rgb(216, 197, 197);
//     padding-bottom: 2em;
//     margin-bottom: 2em;
// }

.flex-container {
    display: flex;
    // justify-self: ;
    // justify-content: space-between;
    // margin: 1em auto;
    // padding: 4em;
    // width: 8%;
    // padding: 2em 0em;
    border: 1px solid black;
    border-radius: 1em;
    padding: 2em;
    margin-bottom: 2em;
}

.sub-container {
    // justify-self: flex-end;
    // align-self: flex-end;
    // justify-content: ;
    // border: 1px solid black;
    margin-left: 5em;
}


// .results-header {
//     padding: 0em 2em;
//     align-self: flex-start;
    // width: 40%;
// }

// .side-icon {
//     width: 7%;
//     height: 7%;
//     display: block;
// }


// .icon-text {
//     display: none;
// }

// .icon-text {
//     &:hover {
//         display: block;
//     }
// }

// .hover-div {
//     span {
//         visibility: hidden;
//     }
// }
// .warning-text {
//         visibility: hidden;
//         // display: none;
//         width: 120px;
//         background-color: black;
//         color: #fff;
//         text-align: center;
//         padding: 5px 0;
//         border-radius: 6px;
       
//         /* Position the tooltip text - see examples below! */
//         position: absolute;
//         z-index: 1;
//       }
      
/* Show the tooltip text when you mouse over the tooltip container */
// .hover-div:hover {
//     cursor: pointer;
//     // visibility: visible;
//     // &span {
//     //         visibility: visible;
//     // }
//     // visibility: visible;
//     // display: block;
//     // cursor: pointer;
// }

.warning-icon:hover {
    cursor: help;
    transition: .3s;
}
// .hover-div {
//         position: relative;
//         display: inline-block;
//         border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
// }
// .hover-div:hover {
//     visibility: visible;
// } 

.warning-text {
    // cursor: help;
    width: 30em;
        background-color: rgba(33, 150, 243, .97);

        color: #fff;
        text-align: center;
        padding: 1em;
        // margin: 2em 0em;
        border-radius: 6px;
       
        /* Position the tooltip text - see examples below! */
        position: absolute;
        // top: -5px;
//   left: 105%;
        z-index: 1;
        transition: background-color .3s;
}




//reduce text size for small screens
@media(max-width: 955px) {

    body {
        font-size: 1em;
    }
    // .results-header .destination-header {
    //     font-size: .5em;
    // }
        .results-header, .destination-header {
            font-size: 1.2em;
            // color: black;
        }
    .side-icon, .travel-icon {
        height: 1em;
        width: auto;
        // align-self: center;
        padding: 0em .5em;
    }
}


@media(max-width: 753px) {

    body {
        font-size: .7em;
    }
    .results-header, .destination-header {
        font-size: 1em;
    }
    .side-icon, .travel-icon {
        display: none;
        height: .7em;
        width: auto;
        // align-self: center;
        padding: 0em .5em;
    }
    .weather-icon {
        height: 2em;
        width: auto;
    }
}


@media(max-width: 474px) {
//    .results-header, .destination-header {
//        font-size: .2em;
//    }
.flex-container {
    display: block;
}

.sub-container {
    margin: 0;
}

}


